.home {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background: gray;
    display: flex;
    flex-wrap: wrap;
}
.hamsterList {
    background: white;
    height: 300px;
    width: 300px;
}
.eachHamster {
    height: 100px;
    width: 100px;
}