.home {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamsterList {
    background: white;
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.eachHamster {
    background: blue;
    background: white;
    height: 100px;
    margin: 10px;
}
.eachHamster img {
    margin: 0;
    height: 80px;
    box-shadow: 1px 1px 3px #bbb;
}
.eachHamster p {
    margin: 0;
    font-size: 14px;
    color: black;
    text-align: center;
}