.nav {
    background: lightskyblue;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav h1 {
    color: navy;
    margin: 10px;
}
.nav button {
    height: 30px;
    width: 100px;
    border: none;
    background: white;
    margin: 10px;
}